<br />
<br />

<h1 class="pagetitle">Such Heroic Nonsense</h1>
<hr />
<h2 class="infotitle">Coming soon...</h2>
<br />
<br />


<% @welcomes.each do |welcome| %>
  <div class="booyah-box col-10 offset-1">
    <h5><%= welcome.title %></h5><br />
    <p><%= welcome.message %></p><br />
    
  </div>

  <hr />
<% end %>