@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  color: #800000;
  font-family: 'Permanent Marker', cursive;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 40px;
}

body {
  background: image_url('cbbackground.jpg');
}

.navbar {
  background: image_url('spiration-light.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 20px;
  opacity: .7;
  font-family: 'Permanent Marker', cursive;
}


.pagetitle {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: #00ff00;
}

.infotitle {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: #00ff00;
}

.navbar navbar-toggleable-md navbar-light bg-faded {
  font-family: 'Permanent Marker', cursive;
}

.navbar-brand {
  color: #E3E85A;
  font-family: 'Permanent Marker', cursive;
  font-weight: 600;
  letter-spacing: -0.3px;
}